doctype html
head
  meta(charset='UTF-8')
  title PUG
  style(type='text/css').
    table {
    text-align: center;
    }
table
  tr
    td &#xC0AC;&#xBC88;
    td &#xC774;&#xB984;
    td &#xC131;&#xBCC4;
    td &#xC8FC;&#xC18C;
  tr
    td 1
    td 1
    td 1
    td 1
